[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
scrapy = "*"
bs4 = "*"
requests = "*"
fake-useragent = "*"
pandas = "*"
ipykernel = "*"
pymongo = "*"
flask-pymongo = "*"
apscheduler = "*"
schedule = "*"

[requires]
python_version = "3.7"
