.mainheader{
    /* background-color:#FFD700; */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(235,173,15,1) 0%, rgba(223,129,34,1) 51%, rgba(223,34,34,1) 100%, rgba(182,44,44,1) 100%);
    color: white;
    padding:50px;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
}

.sectionmain{
    margin-top: 10px;
    margin-left: 40px;
    float: left;
    width: 60%;
    padding: 10px;
}

.asidemain{
    border: 1px;
    margin-top: 10px;
    margin-right:20px;
    margin-left: 990px;
    width: 35%;
    padding: 10px;
}

.headingmain{
    color: black;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 2px;
}

.link-color{
    color: #212121
}

.pmain{
    text-align: justify;
}

.topnav a{
    font-size: 20px;
}

.topnav a:hover{
    background-color: grey;
}
 
.newsbox{
  margin-top: 200px; 
  margin-left:300px; 
  margin-right: 100px;">
}

