<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Breakfast Scoop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<!-- style sheet link
-->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">


</head>

<body>
		<header class="mainheader">
				<h1 style="font-size: 65px;">Breakfast Scoop</h1>
		</header>


		<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
				<ul class="navbar-nav">
						<li class="nav-item">
								<a class="nav-link" href="{{url_for("home")}}" style="color: whitesmoke;">Home</a>
								</li>
								<li class="nav-item">
									  <a class="nav-link"  href="{{url_for("test2")}}" style="color: whitesmoke;">Nepal News</a>
								</li>
				
								<li class="nav-item">
									  <a class="nav-link"  href={{url_for("worldnews")}} style="color: whitesmoke;">World News</a>
								</li>
								<li class="nav-item">
									  <a class="nav-link"  href="{{url_for("politics")}}" style="color: whitesmoke;">Politics</a>
								</li>
								<li class="nav-item">
									  <a class="nav-link"  href="{{url_for("business")}}" style="color: whitesmoke;">Business</a>
								</li>
								<li class="nav-item">
									  <a class="nav-link"  href="{{url_for("sports")}}" style="color: whitesmoke;">Sports</a>
								</li>
								<li class="nav-item">
									  <a class="nav-link" href="{{url_for("technology")}}" style="color: whitesmoke;">Technology</a>
								</li>
								<li class="nav-item">
									  <a class="nav-link"  href="{{url_for("entertainment")}}" style="color: whitesmoke;">Entertainment</a>
								</li>
								<li class="nav-item">
									  <a class="nav-link"  href="{{url_for("science")}}" style="color: whitesmoke;">Science</a>
								</li>
								<li class="nav-item">
									  <a class="nav-link"  href="{{url_for("arts_culture")}}" style="color: whitesmoke;">Arts And Culture</a>
								</li>
				</ul>
			  </nav>
			  <br>

	<div class="container" style="border: 2px solid black">
	{% block content %}

	 <!--ALl our contents-->

	{% endblock  %}
	</div>

</body>


