{% extends "base.html" %}
    {% block content %}

        {% for news in news_list %}
        <div style="padding-left:20px; padding-top:20px; padding-right:5px; border:1px solid red; max-width: 900px; margin: auto;  margin-top:5px; margin-bottom: 50px;">
            <a href={{news['Link']}}><h3 style="color: black;">{{news['Title']}}</h3></a>
            <p style="font-size: 18px;">{{news['Description'] }}</p>
            <p style="text-align:right; text-decoration: underline; font-size:15px;">(From: {{news['Publisher']}} , {{news['Publish_Date']}})</p>
        </div>
        {% endfor %}

    {% endblock%}



<!--

 {% for mainkey in data %}
            <h1>{{ mainkey }}</h1>
            {{data[mainkey].items()}}
        
            {% endfor %}

    ////



    {% for mainkey in data %}
    <h1>{{ mainkey }}</h1>

    {% for key, value in data[mainkey].items() %}
    <p><strong>{{ key }}</strong><span>{{ value }}</span></p>
    {% endfor %}

    {% endfor %}
-->
