{% extends "base.html" %}

{% block content %}
           Total no of news  = {{data|length}}{#Total no of  comment#}
            {% for mainkey in data%}
            <a href={{data[mainkey].Link}}><h3>{{data[mainkey].Title}}</h3></a>
            <h4>From: {{data[mainkey].Publisher}}</h4>
            {{data[mainkey].Publish_Date}}

                <p>{{data[mainkey].Description  }}</p>


            {% endfor %}

            

        </body>

{% endblock %}
<!--

 {% for mainkey in data %}
            <h1>{{ mainkey }}</h1>
            {{data[mainkey].items()}}
        
            {% endfor %}

    ////



    {% for mainkey in data %}
    <h1>{{ mainkey }}</h1>

    {% for key, value in data[mainkey].items() %}
    <p><strong>{{ key }}</strong><span>{{ value }}</span></p>
    {% endfor %}

    {% endfor %}
-->
